/* #region ===== Font & Body ===== */

@font-face {
  font-family: "Cal Sans";
  src: url("../calsans-regular.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

body {
  margin: 0 15px 0 15px;
  font-family: "Cal Sans";
  background: var(--bg);
  user-select: none;
  color: white;
  overflow: hidden;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/* #endregion */

/* #region ===== Variables ===== */

:root {
  --orange: #ff8000;
  --bg: #0b0b0b;
  --dark-blue: #1e2c59;
  --table-bg: #1a1a1a;
  --light-gray: #5c5b5b;
  --white: #ffffff;
  --green: #37e760;
  --light-blue: #19a8cc;
}

:root {
  --text: clamp(10px, 10px + 0.4vw, 16px);
  --svg: clamp(16px, 15.14px + 0.536vw, 22px);
}

/* #endregion */

/* #region ===== Header ===== */

.header-wrap {
  max-width: 1000px;
  margin: 0 auto;
  padding: 5px 10px;
  position: sticky;
  top: 0px;
  background: var(--table-bg);
  border-radius: 0 0 10px 10px;
  border: 2px solid rgba(255, 255, 255, 0.08);
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  align-items: center;
}

.title-header {
  font-size: clamp(14px, 12.29px + 0.536vw, 20px);
  color: var(--orange);
}

.streak-wrap {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.streak-svg {
  width: var(--svg);
  height: var(--svg);
  color: #aa6ae5;
}

.streak-num {
  font-size: clamp(14px, 12.29px + 0.536vw, 20px);
  color: #aa6ae5;
}

/* #endregion */
