/* =========================
    BASE
========================= */

@font-face {
  font-family: "Cal Sans";
  src: url("../calsans-regular.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

:root {
  --orange: #ff8000;
  --bg: #0b0b0b;
  --dark-blue: #1e2c59;
  --table-bg: #1a1a1a;
  --light-gray: #5c5b5b;
  --white: #ffffff;
  --green: #37e760;
  --light-blue: #19a8cc;
  --text: clamp(11px, 10px + 0.4vw, 16px);
  --svg: clamp(16px, 15.14px + 0.536vw, 22px);
}

body {
  margin: 5px;
  font-family: "Cal Sans";
  background: var(--bg);
  user-select: none;
  color: white;
}

.title {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  gap: clamp(2px, 1.82px + 0.179vw, 5px);
  align-items: center;
}

#day-title {
  color: var(--orange);
  font-size: clamp(24px, 17.14px + 2.143vw, 48px);
}

.title-icon {
  width: clamp(30px, 23.71px + 1.964vw, 52px);
  height: clamp(30px, 23.71px + 1.964vw, 52px);
  flex-shrink: 0;
  color: var(--orange);
}
