/* #region ===== Font & Page */

@font-face {
  font-family: "Cal Sans";
  src: url("../font/calsans-regular.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

body {
  margin: 0 10px 10px 10px;
  font-family: "Cal Sans";
  background: var(--bg);
  user-select: none;
  color: var(--white);
  overflow-x: hidden;
}

body.modal-open {
  overflow: hidden;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

#page {
  opacity: 0;
  transition: opacity 0.2s ease;
  display: flex;
  flex-direction: column;
}

#page.visible {
  opacity: 1;
}

/* #endregion */

/* #region ===== Variables */

:root {
  --orange: #ff8000;
  --bg: #090709;
  --black: black;
  --dark-blue: #1e2c59;
  --dark-bluelow: #1e2c5996;
  --table-bg: rgb(33, 33, 33);
  --light-gray: #696868;
  --light-grayP: #aca9a9;
  --white: #e1e1e1;
  --green: #37e760;
  --light-blue: #19a8cc;
  --red: #ff5c5c;
  --carb: #facc15;
}

:root {
  --svg: clamp(22px, 20.86px + 0.357vw, 26px);
}

:root {
  --text-xs: calc(var(--text-base) * 0.75); /* 10.5 - 12 */
  --text-s: calc(var(--text-base) * 0.875); /* 12.3 - 14 */
  --text-base: clamp(14px, 13.43px + 0.179vw, 16px); /* 14 - 16 */
  --text-l: calc(var(--text-base) * 1.125); /* 15.8 - 18 */
  --text-xl: calc(var(--text-base) * 1.375); /* 19.3 - 22 */
  --text-2xl: calc(var(--text-base) * 1.75); /* 24.5 - 28 */
}

/* #endregion */

/* #region ===== Toasts */

.toast {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%) translateY(20px);
  background-color: var(--dark-blue);
  color: var(--light-blue);
  padding: 8px 12px;
  border-radius: 8px;
  font-size: var(--text-base);
  opacity: 0;
  gap: 10px;
  transition:
    opacity 0.25s ease,
    transform 0.25s ease;
  z-index: 10000;
}

.toast.visible {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
  pointer-events: auto;
}

.toast-btn {
  all: unset;
  width: fit-content;
  display: flex;
  padding: 3px 6px;
  border-radius: 6px;
  color: var(--white);
  background-color: var(--orange);
  cursor: pointer;
}

/* #endregion */
