/* #region ===== Wrappers & Combined ===== */

.table-btn-wrapper {
  display: flex;
  flex-direction: row;
  gap: clamp(5px, 3.57px + 0.446vw, 10px);
}

.table-btn {
  all: unset;
  display: flex;
  cursor: pointer;
  display: flex;
  flex-direction: row;
}

.add-food-label,
.clear-all-label,
.undo-label,
.edit-label {
  font-size: clamp(6px, 4.29px + 0.536vw, 12px);
}

.add-food-btn,
.clear-all-btn,
.undo-btn,
.edit-btn {
  all: unset;
  display: flex;
  cursor: pointer;
  padding: clamp(2px, 1.71px + 0.089vw, 3px) clamp(4px, 3.43px + 0.179vw, 6px);
  border-radius: clamp(4px, 3.43px + 0.179vw, 6px);
  align-items: center;
  gap: 3px;
}

.add-food-svg,
.clear-all-svg,
.undo-svg,
.edit-svg {
  width: clamp(10px, 8.86px + 0.357vw, 14px);
  height: clamp(10px, 8.86px + 0.357vw, 14px);
}

/* #endregion */

/* #region ===== Add Food ===== */

.add-food-btn {
  background: var(--green);
}

.add-food-svg,
.add-food-label {
  color: black;
}

#toast {
  position: fixed;
  bottom: 90px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--green);
  border: 2px solid rgba(255, 255, 255, 0.08);
  color: black;
  padding: 5px 10px;
  border-radius: 999px;
  font-size: var(--text);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  white-space: nowrap;
}

#toast.show {
  opacity: 1;
}

/* #endregion */

/* #region ===== Clear All ===== */

.clear-all-btn {
  background: red;
}

.clear-all-svg,
.clear-all-label {
  color: white;
}

/* #endregion */

/* #region ===== Undo ===== */

.undo-btn {
  background: var(--light-blue);
}

.undo-svg,
.undo-label {
  color: black;
}

/* #endregion */

/* #region ===== Edit ===== */

.edit-btn {
  background: rgb(161, 161, 161);
}

.edit-svg,
.edit-label {
  color: black;
}

/* #endregion */
