/* #region ===== Wrappers & Combined ===== */

.table-btn-wrapper {
  display: flex;
  flex-direction: row;
  gap: clamp(5px, 3.57px + 0.446vw, 10px);
}

.table-btn {
  all: unset;
  display: flex;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  transition: all 0.2s ease;
}

.table-btn:active {
  transform: scale(0.95);
}

.clear-all-label {
  font-size: var(--text-s);
}

.clear-all-btn {
  all: unset;
  display: flex;
  cursor: pointer;
  position: relative;
  padding: clamp(2px, 1.71px + 0.089vw, 3px) clamp(4px, 3.43px + 0.179vw, 6px);
  border-radius: clamp(4px, 3.43px + 0.179vw, 6px);
  align-items: center;
  gap: 3px;
}

.clear-all-svg {
  width: clamp(14px, 12.29px + 0.536vw, 20px);
  height: clamp(14px, 12.29px + 0.536vw, 20px);
}

.clear-all-btn {
  background: red;
}

.clear-all-svg,
.clear-all-label {
  color: white;
}
