/* #region ===== Layout & Title  ===== */

#log-body {
  gap: 5px;
  display: flex;
  flex-direction: column;
}

.log-wrapper {
  max-width: 800px;
  margin: clamp(15px, 12.14px + 0.893vw, 25px) auto;
  /* margin-top: clamp(5px, 3.57px + 0.446vw, 10px); */
}

#food-log {
  background-color: var(--table-bg);
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.08);
  width: 100%;
  max-width: 1200px;
}

/* #endregion */

/* #region ===== Header ===== */

.log-header {
  margin: 0;
  background-color: var(--dark-blue);
  border-radius: 8px 8px 0 0;
  padding: 3px 0;
}

.log-header .col-food,
.log-header .col-servings,
.log-header .col-cal,
.log-header .col-pro,
.log-header .col-carb,
.log-header .col-fat {
  background-color: transparent;
  font-size: var(--text);
  text-align: right;
  padding: 3px;
  color: var(--light-blue);
}

.log-header .col-food {
  text-align: left;
}

/* #endregion */

/* #region ===== Serving ===== */

.serving-edit {
  width: clamp(25px, 17.9px + 2.23vw, 50px);
  background-color: var(--light-gray);
  border-radius: 5px;
  padding: 4px 6px;
  border: none;
  color: white;
  font-size: var(--text);
  text-align: right;
  font-family: "Cal Sans";
}

.serving-edit:focus {
  outline: none;
}

.serving-unit {
  color: var(--white);
  font-size: var(--text);
  white-space: nowrap;
}

/* #endregion */

/* #region ===== Columns ===== */

.col-food {
  flex: 2 1 0;
  min-width: 60px;
  text-align: left;
  text-transform: capitalize;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 5px;
}

.col-food::before {
  content: attr(data-food);
  position: absolute;
  text-transform: none;
  background-color: #1e2c59;
  color: #19a8cc;
  transform: translateY(-5px) translateX(-5px);
  font-size: var(--text);
  border-radius: 10px;
  padding: clamp(3px, 2.43px + 0.179vw, 5px) clamp(6px, 4.86px + 0.357vw, 10px);
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition:
    opacity 0.25s ease,
    transform 0.25s ease;
}

.col-food:hover::before {
  transform: translateY(-5px) translateX(-5px);
  opacity: 1;
}

.col-servings {
  flex: 1 1 0;
  min-width: 60px;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 5px;
}

.col-check,
.col-del {
  display: flex;
  margin-left: 3px;
  align-items: center;
  justify-content: center;
}

.col-cal,
.col-pro,
.col-carb,
.col-fat {
  flex: 1 1 0;
  min-width: 30px;
  text-align: right;
  border-radius: 5px;
}

.col-cal,
.col-pro,
.col-carb,
.col-fat,
.col-food,
.col-servings {
  font-size: var(--text);
}

/* #endregion */

/* #region ===== Rows ===== */

.log-row {
  display: flex;
  align-items: center;
  gap: clamp(2px, 1.14px + 0.268vw, 5px);
}

.log-row.row-alt {
  background-color: rgba(255, 255, 255, 0.05);
}

@keyframes flash {
  0% {
    background-color: transparent;
  }

  50% {
    background-color: rgb(6, 148, 6);
  }

  100% {
    background-color: transparent;
  }
}

.row-flash {
  animation: flash 0.8s ease-out forwards;
}

.row-checked {
  opacity: 0.4;
}

/* #endregion */

/* #region ===== Meal Header ===== */

.meal-header-wrap {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.meal-header {
  display: flex;
  align-items: center;
  padding-top: 5px;
  justify-content: center;
  text-transform: uppercase;
}

.meal-label {
  font-size: var(--text);
  white-space: nowrap;
  color: var(--light-gray);
}

.meal-protein {
  font-size: var(--text);
  white-space: nowrap;
  color: var(--light-gray);
  text-transform: none;
}

.pro-svg-table {
  width: var(--svg);
  height: var(--svg);
  color: var(--light-gray);
  flex-shrink: 0;
}

/* #endregion */

/* #region ===== Empty State ===== */

#empty-state {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 40px 0;
}

.empty-icon {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  color: var(--light-gray);
}

.empty-icon-wrap {
  width: 100%;
  align-items: center;
}

.empty-text {
  font-size: var(--text);
  color: var(--light-gray);
}

/* #endregion */

/* #region ===== Buttons & SVGs ===== */

button:has(.delete-svg) {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

button:has(.check-svg) {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

button[data-checked="false"] .check-svg {
  color: var(--light-gray);
}

button[data-checked="true"] .check-svg {
  color: var(--green);
}

.delete-svg {
  width: var(--svg);
  height: var(--svg);
  flex-shrink: 0;
  color: red;
}

.check-svg {
  width: var(--svg);
  height: var(--svg);
  flex-shrink: 0;
}

/* #endregion */
