/* #region ===== Layout ===== */

.header-wrap {
  max-width: 800px;
  margin: 0 auto;
  padding: 5px 0;
  position: sticky;
  top: 0px;
  background: var(--bg);
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  align-items: center;
}

.title-wrap,
.user-wrap,
.streak-wrap,
.sign-out-wrap {
  display: flex;
  flex-direction: row;
  gap: clamp(2px, 1.14px + 0.268vw, 5px);
  align-items: center;
}

/* #endregion */

/* #region ===== User ===== */

.user-name {
  font-size: clamp(14px, 12.29px + 0.536vw, 20px);
  color: var(--light-blue);
}

.user-svg {
  width: var(--svg);
  height: var(--svg);
  color: var(--light-blue);
}

/* #endregion */

/* #region ===== Streak ===== */

.streak-wrap {
  cursor: pointer;
  min-width: 42px;
}

.streak-svg {
  width: var(--svg);
  height: var(--svg);
  color: #aa6ae5;
}

.streak-num {
  font-size: clamp(14px, 12.29px + 0.536vw, 20px);
  color: #aa6ae5;
}

/* #endregion */

/* #region ===== Sign Out ===== */

.sign-out-wrap {
  cursor: pointer;
}

.sign-out-svg {
  width: var(--svg);
  height: var(--svg);
  color: var(--light-gray);
}

.sign-out-text {
  font-size: clamp(14px, 12.29px + 0.536vw, 20px);
  color: var(--light-gray);
}

/* #endregion */
