/* #region ===== Layout ===== */

.header-wrap {
  max-width: 740px;
  margin: 0 auto;
  padding: 5px 0;
  position: sticky;
  top: 0px;
  background: var(--bg);
  box-sizing: border-box;
  z-index: 99;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  align-items: center;
}

.title-wrap,
.user-wrap,
.streak-wrap,
.sign-out-wrap {
  display: flex;
  flex-direction: row;
  gap: clamp(2px, 1.14px + 0.268vw, 5px);
  align-items: center;
}

/* #endregion */

/* #region ===== User ===== */

.user-name {
  font-size: var(--text-l);
  color: var(--orange);
}

.user-svg {
  width: var(--svg);
  height: var(--svg);
  color: var(--orange);
}

/* #endregion */

/* #region Settings */

.settings-svg {
  width: 28px;
  height: 28px;
  color: var(--light-gray);
}

.settings-btn {
  all: unset;
  display: flex;
  cursor: pointer;
  display: flex;
  transition: transform 0.2s ease;
}

.settings-btn:active {
  transform: scale(0.95);
}

.settings-svg-title-wrap {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* #endregion */
