/* #region Template Reusable */

.modal {
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.2s ease,
    visibility 0.2s ease;
}

.modal.active {
  opacity: 1;
  visibility: visible;
}

.modal-overlay {
  position: absolute;
  inset: 0;
  background: var(--bg);
}

.modal-box {
  position: relative;
  /* padding: 20px; */
  /* background: var(--table-bg); */
  /* border: 2px solid rgba(255, 255, 255, 0.08); */
  border-radius: 14px;
  /* width: clamp(10px, 70vw, 350px); */
  width: 100%;
  max-width: 600px;
  margin: 25px;
  /* margin: 20px; */
  z-index: 1;
  /* overflow: hidden; */
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--text-2xl);
  margin-bottom: clamp(10px, 7.14px + 0.893vw, 20px);
}

.modal-close-btn {
  all: unset;
  cursor: pointer;
  color: var(--light-gray);
  display: flex;
}

.modal-close-svg {
  width: clamp(24px, 21.71px + 0.714vw, 32px);
  height: clamp(24px, 21.71px + 0.714vw, 32px);
  flex-shrink: 0;
}

.modal-body {
  display: flex;
  flex-direction: column;
  position: relative;
  scrollbar-width: none;
}

.modal-body::-webkit-scrollbar {
  display: none;
}

.modal-body input {
  transition: border 0.2s ease;
}

.modal-body input:focus {
  /* if an input is an ID add focus to it directly, it ignores him */
  border: 2px solid var(--orange);
  outline: none;
}

.modal-footer {
  margin-top: 20px;
  display: flex;
  justify-content: end;
}

.modal-complete-btn {
  all: unset;
  cursor: pointer;
  background: var(--light-blue);
  color: black;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: clamp(8px, 6.86px + 0.357vw, 12px);
  border-radius: clamp(8px, 7.43px + 0.179vw, 10px);
  font-size: var(--text-l);
  transition: transform 0.2s ease;
}

.modal-complete-btn:active {
  transform: scale(0.95);
}

/* #endregion */

/* #region ADD FOOD | Custom Toggle */

.custom-toggle {
  all: unset;
  display: flex;
  cursor: pointer;
  background-color: transparent;
  transition: transform 0.2s ease;
  background-color: var(--dark-blue);
  padding: 5px;
  border-radius: clamp(6px, 5.43px + 0.179vw, 8px);
}

.custom-toggle:active {
  transform: scale(0.95);
}

.custom-svg {
  width: clamp(18px, 14px + 1.25vw, 32px);
  height: clamp(18px, 14px + 1.25vw, 32px);
  color: var(--light-blue);
}

/* #endregion */

/* #region ADD FOOD | Search & Servings */

.modal-body.add-food input {
  border-radius: clamp(6px, 5.43px + 0.179vw, 8px);
  font-family: "Cal Sans";
  font-size: var(--text-base);
  width: 100%;
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#autocomplete-list {
  background-color: var(--dark-blue);
  box-sizing: border-box;
  max-height: clamp(220px, 211.43px + 2.679vw, 250px);
  border-radius: 10px;
  padding: 5px;
  width: clamp(10px, 70vw, 350px);
  position: absolute;
  top: clamp(40px, 36.57px + 1.071vw, 52px);
  left: 0;
  right: 0;
  z-index: 999;
  overflow-y: auto;
  border: 2px solid rgba(255, 255, 255, 0.08);
}

.food-title {
  font-size: var(--text-base);
  color: white;
}

.food-subtitle {
  font-size: var(--text-base);
  color: var(--light-blue);
}

#autocomplete-list:empty {
  display: none;
}

#autocomplete-list li {
  padding: 6px 8px;
  border-radius: 5px;
  cursor: pointer;
  font-size: var(--text-s);
  display: flex;
  flex-direction: column;
}

.add-food-servings {
  display: flex;
  align-items: center;
  gap: clamp(6px, 4.86px + 0.357vw, 10px);
}

.food-search-wrap {
  position: relative;
  display: flex;
  margin-bottom: 10px;
  gap: 5px;
  align-items: center;
}

#food-search {
  padding: clamp(5px, 3.57px + 0.446vw, 10px) clamp(8px, 6.29px + 0.536vw, 14px);
  color: var(--white);
  background: var(--dark-blue);
  border: 2px solid var(--dark-blue);
}

#food-search:focus {
  border: 2px solid var(--orange);
  outline: none;
}

#food-search::placeholder {
  color: var(--light-blue);
}

#servings {
  width: clamp(80px, 74.29px + 1.786vw, 100px) !important;
  padding: clamp(5px, 3.57px + 0.446vw, 10px) clamp(8px, 6.29px + 0.536vw, 14px);
  color: var(--white);
  background: var(--dark-blue);
  border: 2px solid var(--dark-blue);
}

#servings:focus {
  border: 2px solid var(--orange);
  outline: none;
}

#servings::placeholder {
  color: var(--light-blue);
}

#servings.custom {
  text-align: center;
  border: 2px solid transparent;
  background: rgba(255, 255, 255, 0.1);
}

#servings.custom::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

#serving-size-label {
  font-size: var(--text-base);
  color: white;
}

/* #endregion */

/* #region ADD FOOD | Macro Preview & Edit */

.macro-edit {
  padding: clamp(5px, 3.57px + 0.446vw, 10px) clamp(8px, 6.29px + 0.536vw, 14px);
  color: rgba(255, 255, 255, 0.6);
  text-align: left;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid transparent;
}

.macro-edit::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.macro-edit.custom {
  border: 2px solid var(--dark-blue);
  background-color: var(--dark-blue);
  color: var(--white);
}

.macro-edit.custom::placeholder {
  color: var(--light-blue);
}

#macros-preview {
  display: flex;
  gap: clamp(8px, 6.86px + 0.357vw, 12px);
  margin: 20px 0;
}

.macro-item {
  display: flex;
  flex-direction: column;
  gap: clamp(2px, 1.43px + 0.179vw, 4px);
}

.macro-label {
  font-size: var(--text-base);
  color: rgba(255, 255, 255, 0.5);
}

.macro-label.custom {
  color: var(--light-blue);
}

/* #endregion */

/* #region ADD FOOD | Meal Type */

.modal-meal-types {
  display: flex;
  gap: clamp(4px, 2.86px + 0.357vw, 8px);
  flex-wrap: wrap;
}

.meal-btn {
  all: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  cursor: pointer;
  padding: clamp(5px, 3.57px + 0.446vw, 10px) clamp(8px, 6.29px + 0.536vw, 14px);
  border-radius: clamp(6px, 4.86px + 0.357vw, 10px);
  font-size: var(--text-base);
  color: var(--light-blue);
  background-color: var(--dark-blue);
  transition: all 0.2s ease;
}

.meal-btn.active {
  background-color: var(--orange);
  color: var(--white);
}

.meal-btn:active {
  transform: scale(0.95);
}

/* #endregion */

.modal-header.onboarding {
  flex-direction: column;
  align-items: start;
  margin-bottom: 0;
}
.onboarding-subtitle {
  font-size: var(--text-l);
  color: var(--light-gray);
}

.onboarding-subinfo {
  font-size: var(--text-l);
  color: var(--orange);
}

.onboarding-text {
  font-size: var(--text-base);
  color: var(--white);
}

.onboarding-wrap {
  display: flex;
  flex-direction: row;
  background-color: rgb(43, 43, 43);
  padding: 10px;
  border-radius: 10px;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.onboarding-info {
  display: flex;
  flex-direction: column;
}

.onboarding-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(30px, 29.43px + 0.179vw, 32px);
  height: clamp(30px, 29.43px + 0.179vw, 32px);
  flex-shrink: 0;
  color: var(--light-blue);
}

.onboarding-btn {
  all: unset;
  cursor: pointer;
  background-color: var(--orange);
  border-radius: 8px;
  font-size: var(--text-base);
  color: var(--white);
  text-align: center;
  transition: all 0.2s ease;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.onboarding-btn:active {
  transform: scale(0.95);
}

.modal-body.onboarding {
  gap: 15px;
  justify-content: space-between;
  margin: 15px 0;
}

.add-more-btn,
.add-done-btn {
  all: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  cursor: pointer;
  padding: clamp(5px, 3.57px + 0.446vw, 10px) clamp(8px, 6.29px + 0.536vw, 14px);
  border-radius: clamp(6px, 4.86px + 0.357vw, 10px);
  font-size: var(--text-base);
  color: var(--black);
  background-color: var(--light-blue);
  transition: all 0.2s ease;
}

.add-more-btn:active,
.add-done-btn:active {
  transform: scale(0.95);
}

.add-done-btn {
  width: 60px;
}

.done-btn-wrap {
  margin-top: 20px;
  display: flex;
  justify-content: end;
  gap: clamp(4px, 2.86px + 0.357vw, 8px);
}
