/* #region ===== Pin ===== */

#pin-screen {
  position: fixed;
  inset: 0;
  background: var(--bg);
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
}

#pin-label {
  color: var(--light-gray);
  font-size: clamp(14px, 12.29px + 0.536vw, 20px);
}

#pin-label.incorrect {
  color: var(--red);
}

#pin-loading {
  display: flex;
  width: 205px;
  height: 84px;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.loading-spinner {
  width: 42px;
  height: 42px;
  border: 8px solid var(--dark-blue);
  border-top-color: var(--orange);
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.logo-titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 25px;
}

.title-logo {
  display: flex;
  justify-content: center;
  margin-bottom: -15px;
}

.title-white {
  font-size: 72px;
  color: white;
  font-weight: bold;
}

.title-orange {
  font-size: 72px;
  color: var(--orange);
  font-weight: bold;
}

.subtitle-logo {
  font-size: 18px;
  color: var(--light-gray);
  width: 100%;
  text-align: center;
}

.logo-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 220px;
}

.input-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  width: 100%;
  margin-top: 15px;
}

.pin-input {
  font-size: 16px;
  padding: 5px 10px;
  background: var(--dark-blue);
  border: 3px solid transparent;
  border-radius: 8px;
  color: var(--white);
  font-family: "Cal Sans";
  outline: none;
  transition: all 0.2s ease;
}

.pin-input:focus {
  border: 3px solid var(--orange);
}

.pin-signin {
  all: unset;
  cursor: pointer;
  background: var(--orange);
  color: var(--white);
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 5px 10px;
  border-radius: 8px;
  font-size: clamp(14px, 12.29px + 0.536vw, 20px);
  margin-top: clamp(20px, 17.14px + 0.893vw, 30px);
  transition: transform 0.2s ease;
}

.pin-signin:active {
  transform: scale(0.95);
}

.pin-caption {
  display: flex;
  font-size: 16px;
  color: var(--light-gray);
}

.guest-wrap {
  display: flex;
  gap: 2px;
  align-items: center;
  margin-top: 15px;
  cursor: pointer;
}

.guest-svg {
  width: var(--svg);
  height: var(--svg);
  color: var(--light-gray);
}

.atnorm {
  width: 72px;
  height: 72px;
}

/* #endregion */
