/* #region Layout */

.options-wrapper {
  display: flex;
  flex-direction: column;
  background-color: rgb(30, 30, 30);
  padding: 10px;
  border-radius: 10px;
  gap: 15px;
}

.settings-section {
  display: flex;
  flex-direction: column;
}

.settings-header {
  font-size: var(--text-l);
  color: var(--orange);
}

.settings-subheader {
  font-size: var(--text-base);
  color: var(--light-gray);
  margin-bottom: 3px;
}

.settings-option-title {
  font-size: var(--text-base);
  color: var(--white);
  margin-right: 10px;
}

.settings-option-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-body.settings {
  /* height: 450px; */
  /* overflow-y: auto; */
  gap: 12px;
}

/* #endregion */

/* #region Checkbox */

.settings-checkbox {
  all: unset;
  display: flex;
  cursor: pointer;
  display: flex;
}

.settings-checkbox-svg.unchecked {
  width: var(--svg);
  height: var(--svg);
  color: var(--light-gray);
}

.settings-checkbox-svg.checked {
  display: none;
  width: var(--svg);
  height: var(--svg);
  color: var(--green);
}

.settings-checkbox.is-checked .settings-checkbox-svg.unchecked {
  display: none;
}

.settings-checkbox.is-checked .settings-checkbox-svg.checked {
  display: block;
}

/* #endregion */

/* #region Macros */

.settings-edit-input:focus {
  border: 2px solid var(--orange);
  outline: none;
}

.settings-edit-input {
  display: flex;
  padding: 0;
  border-radius: clamp(4px, 3.43px + 0.179vw, 6px);
  font-family: "Cal Sans";
  font-size: var(--text-base);
  box-sizing: border-box;
  color: var(--white);
  background: var(--dark-blue);
  border: 2px solid transparent;
  text-align: center;
  width: clamp(45px, 37.86px + 2.232vw, 70px);
}

/* #endregion */

/* #region Widgets */

.settings-title-svg {
  width: var(--svg);
  height: var(--svg);
}

.settings-title-svg.hydration {
  color: rgb(37, 198, 251);
}

.settings-title-svg.supplements {
  color: rgba(139, 92, 246);
}

.settings-title-svg.weight {
  color: rgb(255, 128, 0);
}

.settings-title-svg.notes {
  color: rgb(155, 155, 155);
}

/* #endregion */

/* #region SIgn out */

.sign-out-svg {
  width: var(--svg);
  height: var(--svg);
  color: var(--red);
  cursor: pointer;
}

.settings-option-title.signout {
  color: var(--red);
}

/* #endregion */

/* #region Profile */

.username-input {
  display: flex;
  padding: 5px 10px;
  border-radius: clamp(4px, 3.43px + 0.179vw, 6px);
  font-family: "Cal Sans";
  font-size: var(--text-base);
  box-sizing: border-box;
  color: var(--white);
  background: var(--dark-blue);
  border: 2px solid transparent;
  text-align: center;
  width: 100%;
  text-align: left;
  margin-right: 5px;
}

.user-btn {
  all: unset;
  display: flex;
  cursor: pointer;
  width: fit-content;
  justify-content: center;
  border-radius: 6px;
  padding: 5px 10px;
  background-color: var(--orange);
  transition: all 0.2s ease;
  width: 80px;
  font-size: var(--text-base);
}

.user-btn:active {
  transform: scale(0.95);
}

.user-btn.saved {
  background-color: green;
}

.user-btn:disabled {
  pointer-events: none;
}

.user-btn.failed {
  background-color: #ef4444;
}

/* #endregion */

/* #region Contact */

.contact-text {
  font-size: var(--text-base);
  margin-right: 10px;
  color: var(--light-gray);
}

.contact-wrap {
  display: flex;
  margin-top: clamp(5px, 3.57px + 0.446vw, 10px);
  flex-direction: column;
  align-items: center;
}
