/* #region ===== Layout */

.settings-page {
  position: fixed;
  overflow-y: auto;
  background-color: var(--bg);
  justify-content: center;
  inset: 0;
  z-index: 9999;
  padding: 25px 10px 10px 10px;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.2s ease,
    visibility 0.2s ease;
}

.settings-page.active {
  opacity: 1;
  visibility: visible;
}

.settings-page-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.settings-section {
  display: flex;
  flex-direction: column;
}

.settings-header {
  font-size: var(--text-l);
  color: var(--orange);
}

.settings-subheader {
  font-size: var(--text-base);
  color: var(--light-gray);
  margin-bottom: 3px;
}

.options-wrapper {
  display: flex;
  flex-direction: column;
  background-color: rgb(30, 30, 30);
  padding: 10px;
  border-radius: 10px;
  gap: 15px;
}

.settings-option-title {
  font-size: var(--text-base);
  color: var(--white);
  margin-right: 10px;
}

.settings-option-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-body.settings {
  gap: 12px;
}

/* #endregion */

/* #region ===== Checkboxes */

.settings-checkbox {
  all: unset;
  display: flex;
  cursor: pointer;
  display: flex;
}

.settings-checkbox-svg.unchecked {
  width: var(--svg);
  height: var(--svg);
  color: var(--light-gray);
}

.settings-checkbox-svg.checked {
  display: none;
  width: var(--svg);
  height: var(--svg);
  color: var(--green);
}

.settings-checkbox.is-checked .settings-checkbox-svg.unchecked {
  display: none;
}

.settings-checkbox.is-checked .settings-checkbox-svg.checked {
  display: block;
}

/* #endregion */

/* #region ===== Account */

.sign-out-svg {
  width: var(--svg);
  height: var(--svg);
  color: var(--red);
  cursor: pointer;
}

.settings-option-title.signout {
  color: var(--red);
}

/* #endregion */

/* #region ===== Macros */

.settings-edit-input {
  display: flex;
  padding: 0;
  border-radius: clamp(4px, 3.43px + 0.179vw, 6px);
  font-family: "Cal Sans";
  font-size: var(--text-base);
  box-sizing: border-box;
  color: var(--white);
  background: var(--dark-blue);
  border: 2px solid transparent;
  text-align: center;
  width: clamp(45px, 37.86px + 2.232vw, 70px);
}

.settings-edit-input:focus {
  border: 2px solid var(--orange);
  outline: none;
}

/* #endregion */

/* #region ===== Food Log */

/* #endregion */

/* #region ===== Widgets */

.settings-svg-title-wrap {
  display: flex;
  align-items: center;
  gap: 5px;
}

.settings-title-svg {
  width: var(--svg);
  height: var(--svg);
}

.settings-title-svg.hydration {
  color: rgb(37, 198, 251);
}

.settings-title-svg.supplements {
  color: rgba(139, 92, 246);
}

.settings-title-svg.weight {
  color: rgb(255, 128, 0);
}

.settings-title-svg.notes {
  color: rgb(239, 210, 79);
}

/* #endregion */

/* #region ===== Contact */

.contact-text {
  font-size: var(--text-base);
  margin-right: 10px;
  color: var(--light-gray);
}

.contact-wrap {
  display: flex;
  margin-top: clamp(5px, 3.57px + 0.446vw, 10px);
  flex-direction: column;
  align-items: center;
}

/* #endregion */
