/* =========================
    SVG
========================= */

.add-svg {
  width: 30px;
  height: 30px;
  color: var(--green);
}

.delete-svg {
  width: var(--svg);
  height: var(--svg);
  flex-shrink: 0;
  color: red;
}

.check-svg {
  width: var(--svg);
  height: var(--svg);
  flex-shrink: 0;
}

.undo-svg {
  width: var(--svg);
  height: var(--svg);
  color: var(--light-gray);
  flex-shrink: 0;
}

.cal-svg {
  width: var(--svg);
  height: var(--svg);
  color: var(--light-blue);
  flex-shrink: 0;
}

.pro-svg {
  width: var(--svg);
  height: var(--svg);
  color: var(--orange);
  flex-shrink: 0;
}

.carb-svg {
  width: var(--svg);
  height: var(--svg);
  color: #facc15;
  flex-shrink: 0;
}

.fat-svg {
  width: var(--svg);
  height: var(--svg);
  color: var(--green);
  flex-shrink: 0;
}

.water-svg {
  width: var(--svg);
  height: var(--svg);
  color: rgb(37, 198, 251);
  flex-shrink: 0;
}

.water-btn-svg {
  width: var(--svg);
  height: var(--svg);
  color: rgb(127, 127, 127);
}

.warn-svg {
  width: var(--svg);
  height: var(--svg);
  color: #ffdd00;
  vertical-align: middle;
}

#modal-close-btn svg {
  width: 24px;
  height: 24px;
}

.add-food-svg {
  width: 28px;
  height: 28px;
  color: black;
}

.custom-svg {
  width: 28px;
  height: 28px;
  color: var(--light-blue);
}
