/* =========================
    SVG
========================= */

.add-svg {
  width: 30px;
  height: 30px;
  color: var(--green);
}

.delete-svg {
  width: 28px;
  height: 28px;
  color: red;
}

.check-svg {
  width: 30px;
  height: 30px;
}

.undo-svg {
  width: 28px;
  height: 28px;
  color: var(--light-gray);
}

.cal-svg {
  width: 22px;
  height: 22px;
  color: var(--light-blue);
}

.pro-svg {
  width: 22px;
  height: 22px;
  color: var(--orange);
}

.carb-svg {
  width: 22px;
  height: 22px;
  color: #facc15;
}

.fat-svg {
  width: 22px;
  height: 22px;
  color: var(--green);
}

.warn-svg {
  width: 22px;
  height: 22px;
  color: #ffdd00;
  vertical-align: middle;
}

#modal-close-btn svg {
  width: 24px;
  height: 24px;
}

.add-food-svg {
  width: 28px;
  height: 28px;
  color: black;
}

.custom-svg {
  width: 28px;
  height: 28px;
  color: var(--light-blue);
}
