/* =========================
    SVG
========================= */

/* .add-svg {
  width: 30px;
  height: 30px;
  color: var(--green);
} */

.clear-all-svg {
  width: 30px;
  height: 30px;
  color: white;
}

.delete-svg {
  width: var(--svg);
  height: var(--svg);
  flex-shrink: 0;
  color: red;
}

.check-svg {
  width: var(--svg);
  height: var(--svg);
  flex-shrink: 0;
}

.undo-svg {
  width: 30px;
  height: 30px;
  color: black;
}

.cal-svg {
  width: var(--svg);
  height: var(--svg);
  color: var(--light-blue);
  flex-shrink: 0;
}

.pro-svg {
  width: var(--svg);
  height: var(--svg);
  color: var(--orange);
  flex-shrink: 0;
}

.pro-svg-table {
  width: var(--svg);
  height: var(--svg);
  color: var(--light-gray);
  flex-shrink: 0;
}

.carb-svg {
  width: var(--svg);
  height: var(--svg);
  color: #facc15;
  flex-shrink: 0;
}

.fat-svg {
  width: var(--svg);
  height: var(--svg);
  color: var(--green);
  flex-shrink: 0;
}

.water-svg {
  width: var(--svg);
  height: var(--svg);
  color: rgb(37, 198, 251);
  flex-shrink: 0;
}

.creatine-icon {
  width: var(--svg);
  height: var(--svg);
  color: #aa6ae5;
}

.creatine-svg {
  width: clamp(26px, 24.29px + 0.536vw, 32px);
  height: clamp(26px, 24.29px + 0.536vw, 32px);
  flex-shrink: 0;
}

button[data-checked="false"] .creatine-svg {
  color: var(--light-gray);
}

button[data-checked="true"] .creatine-svg {
  color: var(--green);
}

.water-btn-svg {
  width: var(--svg);
  height: var(--svg);
  color: rgb(161, 161, 161);
}

.warn-svg {
  width: var(--svg);
  height: var(--svg);
  color: #ffdd00;
  vertical-align: middle;
}

#modal-close-btn svg {
  width: 24px;
  height: 24px;
}

.add-food-svg {
  width: 28px;
  height: 28px;
  color: black;
}

.custom-svg {
  width: 28px;
  height: 28px;
  color: var(--light-blue);
}
