/* #region ===== Combined Classes ===== */

.trackers-wrapper {
  max-width: 1000px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(157px, 1fr));
  gap: 10px;
}

.water-counter,
.creatine-counter {
  background-color: var(--table-bg);
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.08);
  padding: clamp(6px, 4.29px + 0.536vw, 12px) clamp(8px, 7.14px + 0.536vw, 14px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.water-label-wrap,
.creatine-label-wrap {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.water-label,
.creatine-label {
  font-size: clamp(14px, 12.86px + 0.357vw, 18px);
  color: var(--white);
}

.water-svg,
.creatine-svg {
  width: var(--svg);
  height: var(--svg);
  flex-shrink: 0;
}

/* #endregion */

/* #region ===== Singular Classes ===== */

/* Water */
.water-svg {
  color: rgb(37, 198, 251);
}

.water-controls {
  display: flex;
  align-items: center;
  gap: 5px;
}

.water-controls button {
  all: unset;
  cursor: pointer;
  font-size: 24px;
  color: var(--light-blue);
  line-height: 1;
}

.water-btn-svg {
  width: var(--svg);
  height: var(--svg);
  color: rgb(161, 161, 161);
}

#water-val {
  font-size: clamp(14px, 12.86px + 0.357vw, 18px);
  text-align: center;
  width: 45px;
}

/* Creatine */
#creatine-check-btn {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.creatine-svg {
  color: #aa6ae5;
}

.creatine-checkbox {
  width: clamp(26px, 24.29px + 0.536vw, 32px);
  height: clamp(26px, 24.29px + 0.536vw, 32px);
  flex-shrink: 0;
}

button[data-checked="false"] .creatine-checkbox {
  color: var(--light-gray);
}

button[data-checked="true"] .creatine-checkbox {
  color: var(--green);
}

/* #endregion */
