/* #region ===== Water ===== */

#water-section {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
}

#water-counter {
  background: var(--table-bg);
  border: 2px solid rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  padding: clamp(6px, 4.29px + 0.536vw, 12px) clamp(8px, 7.14px + 0.536vw, 14px);
  display: flex;
  max-width: 280px;
  align-items: center;
  justify-content: space-between;
}

#water-label {
  font-size: clamp(14px, 12.86px + 0.357vw, 18px);
  color: var(--white);
  display: flex;
  justify-content: center;
}

#water-controls {
  display: flex;
  align-items: center;
  gap: 5px;
}

#water-controls button {
  all: unset;
  cursor: pointer;
  font-size: 24px;
  color: var(--light-blue);
  line-height: 1;
}

#water-val {
  font-size: clamp(14px, 12.86px + 0.357vw, 18px);
  text-align: center;
  width: 45px;
}

.water-svg {
  width: var(--svg);
  height: var(--svg);
  color: rgb(37, 198, 251);
  flex-shrink: 0;
}

.water-btn-svg {
  width: var(--svg);
  height: var(--svg);
  color: rgb(161, 161, 161);
}

/* #endregion */

/* #region ===== Creatine ===== */

#creatine-section {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
}

#creatine-counter {
  background: var(--table-bg);
  border: 2px solid rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  padding: clamp(6px, 4.29px + 0.536vw, 12px) clamp(8px, 7.14px + 0.536vw, 14px);
  display: flex;
  max-width: 280px;
  align-items: center;
  justify-content: space-between;
}

#creatine-label {
  display: flex;
  align-items: center;
  gap: 8px;
}

#creatine-check-btn {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.creatine-svg {
  width: var(--svg);
  height: var(--svg);
  color: #aa6ae5;
}

.creatine-checkbox {
  width: clamp(26px, 24.29px + 0.536vw, 32px);
  height: clamp(26px, 24.29px + 0.536vw, 32px);
  flex-shrink: 0;
}

button[data-checked="false"] .creatine-checkbox {
  color: var(--light-gray);
}

button[data-checked="true"] .creatine-checkbox {
  color: var(--green);
}

/* #endregion */
