/* #region ===== Carousel (Template from macros-sum.css) ===== */

/* .carousel-section {
  margin: 10px 0 20px 0;
}
.carousel-track-wrap {
  position: relative;
  overflow-x: auto;
  scrollbar-width: none;
}

.carousel-track-wrap::-webkit-scrollbar {
  display: none;
}

.carousel-track {
  display: flex;
  gap: clamp(8px, 5.71px + 0.714vw, 16px);
  -webkit-overflow-scrolling: touch;
  width: fit-content;
  margin: 0 auto;
}

.carousel-btn-wrap {
  max-width: 800px;
  margin: 0 auto;
}

.table-button-wrap {
  margin: clamp(5px, 3.57px + 0.446vw, 10px) 0 0 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
} */

/* #endregion */

/* #region ==== Card Template */

.widget-header {
  display: flex;
  gap: 3px;
  width: 100%;
  align-items: center;
  margin-bottom: clamp(6px, 4.29px + 0.536vw, 12px);
}

.widget-icon {
  width: var(--svg);
  height: var(--svg);
  flex-shrink: 0;
}

.widget-label {
  font-size: clamp(14px, 12.86px + 0.357vw, 18px);
  color: var(--white);
}

.widget-card {
  background-color: var(--table-bg);
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.08);
  padding: clamp(6px, 4.29px + 0.536vw, 12px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  aspect-ratio: 1;
  width: clamp(140px, 125.71px + 4.464vw, 190px);
  height: clamp(140px, 125.71px + 4.464vw, 190px);
  overflow-y: auto;
  scrollbar-width: none;
}

.widget-card::-webkit-scrollbar {
  display: none;
}

/* #endregion */

/* #region ===== Hydration ===== */

.water-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  align-items: center;
}

.water-goal-row {
  display: flex;
  width: 100%;
  gap: 3px;
  align-items: center;
}

#water-goal-input {
  all: unset;
  flex: 1;
  width: 30px;
  color: rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  padding: 2px 5px;
  font-size: clamp(14px, 12.86px + 0.357vw, 18px);
}

.water-drop-wrap {
  display: flex;
  justify-content: space-between;
}

.widget-card.water {
  background-color: rgb(37, 198, 251, 0.2);
}

.widget-icon.water {
  color: rgb(37, 198, 251);
}

.water-drop-svg {
  width: clamp(64px, 57.71px + 1.964vw, 86px);
  height: clamp(64px, 57.71px + 1.964vw, 86px);
  color: rgb(37, 198, 251);
}

.water-unit {
  font-size: clamp(14px, 12.86px + 0.357vw, 18px);
}

.water-text {
  display: flex;
  align-items: center;
}

.water-controls {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.water-control-btn {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
}

#water-val {
  font-size: clamp(14px, 12.86px + 0.357vw, 18px);
  text-align: center;
  width: fit-content;
}

/* old */

.water-btn-svg {
  width: var(--svg);
  height: var(--svg);
  color: rgb(161, 161, 161);
}

.water-bottle-empty {
  width: var(--svg);
  height: var(--svg);
  color: var(--light-gray);
}

.water-bottle-full {
  width: var(--svg);
  height: var(--svg);
  color: var(--light-blue);
}

.water-bottles-wrap {
  display: flex;
}

/* #endregion */

/* #region ===== Supplements ===== */

.widget-card.supp {
  background-color: rgba(139, 92, 246, 0.12);
}

.supp-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  gap: 3px;
}

#supp-list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
}

.supp-name {
  font-size: var(--text);
}

.supp-check-name {
  display: flex;
  align-items: center;
}

.supp-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.supp-add-row {
  display: flex;
  width: 100%;
  gap: 3px;
}

#supp-input {
  all: unset;
  flex: 1;
  min-width: 0;
  color: rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  padding: 2px 5px;
  font-size: var(--text);
}

.add-supp-btn {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.add-supp-svg {
  width: var(--svg);
  height: var(--svg);
  flex-shrink: 0;
  color: var(--light-blue);
}

.del-btn {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.widget-icon.supp {
  color: rgba(139, 92, 246);
}

.check-svg {
  width: var(--svg);
  height: var(--svg);
  flex-shrink: 0;
  color: var(--green);
}

.uncheck-svg {
  width: var(--svg);
  height: var(--svg);
  flex-shrink: 0;
  color: var(--light-gray);
}

.check-btn {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* #endregion */

/* #region ===== Weight ===== */

.weight-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  align-items: center;
}

.widget-card.weight {
  background-color: rgb(255, 128, 0, 0.12);
}

.widget-icon.weight {
  color: rgb(255, 128, 0);
}

.weight-label {
  font-size: clamp(14px, 12.86px + 0.357vw, 18px);
  color: white;
}

.add-weight-btn {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.add-weight-svg {
  width: var(--svg);
  height: var(--svg);
  flex-shrink: 0;
  color: var(--light-blue);
}

.weight-add-row {
  display: flex;
  width: 100%;
  gap: 3px;
}

#weight-input {
  all: unset;
  flex: 1;
  min-width: 0;
  color: rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  padding: 2px 5px;
  font-size: var(--text);
}

#weight-val {
  font-size: clamp(22px, 18.57px + 1.071vw, 34px);
}

#weight-diff {
  font-size: clamp(14px, 11.71px + 0.714vw, 22px);
  display: flex;
}

.weight-down {
  color: #22c55e;
}
.weight-up {
  color: #ff5c5c;
}

#unit-toggle {
  all: unset;
  display: flex;
  flex: 1;
  width: 45px;
  font-size: clamp(14px, 12.86px + 0.357vw, 18px);
  background: var(--light-gray);
  padding: 2px 5px;
  border-radius: 6px;
  cursor: pointer;
}

.widget-header.weight {
  justify-content: space-between;
}

.weight-icon-title {
  display: flex;
  gap: 3px;
  width: 100%;
  align-items: center;
}

/* #endregion */

/* #region ===== Notes ===== */

.widget-card.notes {
  background-color: rgb(155, 155, 155, 0.2);
}

.widget-icon.notes {
  color: rgb(155, 155, 155);
}

.notes-text {
  box-sizing: border-box;
  color: white;
  font-size: var(--text);
  background-color: var(--dark-blue);
  font-family: "Cal Sans";
  border: none;
  border-radius: 10px;
  padding: 10px;
  outline: none;
  resize: none;
  width: 100%;
  height: 100%;
}

/* #endregion */

/* #region ===== Workout Day ===== */

.workout-label {
  font-size: clamp(14px, 12.86px + 0.357vw, 18px);
  color: white;
}

/* #endregion */

/* #region Overlay */

.widget-modal-title {
  font-size: 24px;
}

.widget-select-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.widget-edit-panel {
  position: relative;
  z-index: 1;
}

.widget-select-card {
  position: relative;
  border: 3px transparent;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
  transition: all 0.15s;
}

.widget-select-card.selected {
  border: 3px solid #ff8000;
  border-style: solid;
}

.check-badge {
  position: absolute;
  top: 6px;
  right: 6px;
  border-radius: 50%;
  display: none;
  background: white;
  align-items: center;
  justify-content: center;
}

.check-badge-svg {
  color: #ff8000;
  width: 24px;
  height: 24px;
}

.widget-select-card.selected .check-badge {
  display: flex;
}

.widget-preview-img-wrap {
}

.widget-preview-img {
  width: 140px;
  border-radius: 8px;
  pointer-events: none;
}

/* #endregion */

/* new top widgets */

.widget-container-top {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.widget-thumbnail-wrap {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.widget-thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 5px;
}

.widget-thumbnail.hydration {
  background-color: rgb(37, 198, 251, 0.2);
}

.widget-thumbnail.supplements {
  background-color: rgba(139, 92, 246, 0.12);
}

.widget-thumbnail.notes {
  background-color: rgb(155, 155, 155, 0.2);
}

.widget-thumbnail.weight {
  background-color: rgb(255, 128, 0, 0.12);
}

.widget-svg {
  width: clamp(26px, 22.86px + 0.982vw, 40px);
  height: clamp(26px, 22.86px + 0.982vw, 40px);
}

.widget-svg.hydration {
  color: rgb(37, 198, 251);
}

.widget-svg.supplements {
  color: rgba(139, 92, 246);
}

.widget-svg.notes {
  color: rgb(155, 155, 155);
}

.widget-svg.weight {
  color: rgb(255, 128, 0);
}
